.CvConstructor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CvConstructor h3 {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  color: #1a1c34;
  margin-bottom: 25px;
}

.CvConstructor .ComponentsContainer {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.CvConstructor .Bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.CvConstructor .ComponentsContainer .ContainerLeftBlock,
.ContainerRightBlock {
  width: 48%;
}
