@media print {
  .CV .CVBody {
    width: 840px !important;
    min-height: 1188px !important;
    border: 1px solid lightgray !important;
    overflow: hidden !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .CV .CVBody .Skills {
    color: #fff !important;
    width: 30% !important;
    height: 938px !important;
    font-size: 14px !important;
  }

  .CV .CVBody .Skills .Location {
    font-weight: 400 !important;
    font-style: italic !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 2rem !important;
    padding-top: 2rem !important;
  }

  .CV .CVBody .Skills .SkillsTitle {
    font-size: 14px !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
  }

  .CV .CVBody .Skills p {
    margin-left: 1.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .CV .CVBody .OtherData {
    width: 70% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-content: start !important;
    flex-wrap: wrap !important;
  }

  .CV .CVBody .OtherData .Title {
    font-size: 14px !important;
    font-weight: 600 !important;
    margin-bottom: 0.2rem !important;
  }

  .CV .CVBody .OtherData .OtherDataItem {
    width: 80% !important;
    min-height: 70px !important;
    padding-top: 1rem !important;
    font-size: 14px !important;
  }

  .CV .CVBody .OtherData .OtherDataItem:first-child {
    padding-top: 2rem !important;
  }

  .OtherData .Education {
    display: flex !important;
    margin-top: 1rem !important;
    justify-content: space-between !important;
  }

  .CV .CVBody .OtherData .EducationDesription {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 50% !important;
  }

  .CV .CVBody .OtherData .Education .EducationYears {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: 25% !important;
  }

  .CV .CVBody .OtherData .EducationDesription .EducationName {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
  }

  .OtherData .Experience {
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 1rem !important;
  }

  .CV .CVBody .OtherData .ExperienceDesription {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 75% !important;
  }

  .CV .CVBody .OtherData .Experience .ExperienceYears {
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    width: 30% !important;
  }

  .CV .CVBody .OtherData .ExperienceDesription .ExperienceName {
    width: 70% !important;
    display: flex !important;
    align-items: center !important;
  }

  .CV .CVBody .CVHeader {
    display: flex !important;
    height: 250px !important;
    width: 100% !important;
    color: #fff !important;
  }

  .CV .CVBody .CVHeader .Photo {
    width: 30% !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: 50% 0 !important;
  }

  .CV .CVBody .CVHeader .Contacts {
    width: 70% !important;
    height: 50% !important;
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
  }

  .CV .CVBody .CVHeader .Contacts .ContactsBlock {
    width: 40% !important;
    height: 100% !important;
    display: flex !important;
    align-content: space-between !important;
    flex-wrap: wrap !important;
    padding-left: 1.5rem !important;
  }

  .CV .CVBody .CVHeader .Contacts .ContactsBlock .ContactsBlockItem {
    display: flex !important;
    font-size: 14px !important;
    align-items: center !important;
    /* margin-left: 1.5rem; */
    height: 33% !important;
    cursor: pointer !important;
    width: 100% !important;
  }

  .CV .CVBody .CVHeader .Contacts .Name {
    width: 100% !important;
    padding-top: 1.5rem !important;
    margin-left: 1.5rem !important;
    font-size: 3em !important;
    margin-bottom: 0.5rem !important;
  }

  .CV .CVBody .CVHeader .Contacts .ContactsBlock .ContactsBlockItem svg {
    margin-right: 0.5rem !important;
    width: 17px !important;
    height: 17px !important;
    display: flex !important;
    justify-content: start !important;
  }

  .CVIcon path {
    fill: #fff !important;
  }

  .CV a {
    color: #fff !important;
  }

  .CV .CVBody .CVHeader .Contacts .Position {
    width: 100% !important;
    font-size: 1.5em !important;
    margin-left: 1.5rem !important;
    margin-bottom: 1rem !important;
  }
}
